.testimonial-slider {
  display: block;

  .slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 22px;
        height: 24px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          display: inline-block;
          width: 10px !important;
          height: 10px !important;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 50px;
          background-color: #dae1e7;
        }
      }
    }

    li.slick-active {
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 22px;
        height: 24px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          display: inline-block;
          width: 10px !important;
          height: 10px !important;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 50px;
          background-color: #e3342f;
        }
      }
    }
  }
}
