/* stylelint-disable */

#page-tabs {
  #tabs {
    list-style-type: none;
    padding: 0;

    li {
      .icon {
        display: block !important;
        background: url("../images/tabs-icon-active.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin: 0.7em auto;
      }
    }

    li.xactive {
      background-color: #f5f4ef;

      .icon {
        display: block !important;
        background: url("../images/tabs-icon-inactive.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin: 0.7em auto;
      }
    }
  }

  #panels {
    background-color: #f5f4ef;
    padding: 0;
    margin: 0;

    .panel-wrapper {
      display: none;
      width: auto;
      position: relative;
    }

    .accordion-tab {
      display: none;
      padding: 25px 30px;
      background-color: #fff;
      cursor: pointer;
      font-size: 20px;
      text-align: center;
      color: #ed4e2e;

      .icon {
        display: block !important;
        background: url("../images/tabs-icon-inactive.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin: 0.7em auto;
      }
    }

    li.xactive {
      .panel-wrapper {
        display: block;
      }

      .accordion-tab {
        border-bottom: none;
        background-color: #f5f4ef;
        padding-bottom: 0;

        .icon {
          display: block !important;
          background: url("../images/tabs-icon-active.svg");
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
          margin: 0.7em auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #page-tabs {
    #tabs {
      display: none;
    }

    #panels {
      li {
        position: static;
        height: auto;
      }

      .accordion-tab {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;

        .icon {
          width: 30px;
          height: 30px;
        }
      }

      li.xactive {
        .accordion-tab {
          .icon {
            width: 30px;
            height: 30px;
          }
        }
      }

      .panel-wrapper {
        width: auto;
        padding: 30px;
      }
    }
  }
}

.andrew-play {
  svg {
    color: white;
    font-size: 6em;
  }
}

.home-property-video {
  .details {
    bottom: 0;
    right: 0;
  }
}

/* Our Approach */

.teamModalClose {
  position: absolute;
  top: 32px;
  right: 18px;
}

.press-slider {
  .slick-slide {
    outline: none;
  }

  img {
    height: 160px !important;
    margin: 0 auto;
  }

  #slick-previous {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background-image: url("../images/prev-arrow.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: 640px) {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }

    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      left: -75px;
    }

    @media (min-width: 1024px) {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      left: -100px;
    }

    @media (min-width: 1280px) {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      left: -100px;
    }
  }

  #slick-next {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background-image: url("../images/next-arrow.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: 640px) {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }

    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      right: -75px;
    }

    @media (min-width: 1024px) {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      right: -100px;
    }

    @media (min-width: 1280px) {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      right: -100px;
    }
  }
}
