

/* Single Property */

.single-gallery,
.single-gallery_two {
  width: 100%;
  height: 100vh;

  img {
    width: 100px;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    outline: none;
  }

  .slick-next {
    position: absolute;
    bottom: 9px;
    right: 0;
    z-index: 999999999;
    font-size: 0;
    outline: none;
    margin-right: 50px;

    &::before {
      background-image: url("../images/gallery-next.svg");
      background-size: 45px 45px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 45px;
      height: 45px;
      content: "";
      bottom: 200px;
    }
  }

  .slick-prev {
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: 999999999;
    font-size: 0;
    outline: none;
    margin-left: 50px;

    &::before {
      background-image: url("../images/gallery-prev.svg");
      background-size: 45px 45px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 45px;
      height: 45px;
      content: "";
      bottom: 200px;
    }
  }

  .slick-dots {
    display: none;

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 16px;
      right: 90px;
      margin-right: 15px;
      z-index: 999999999;
      list-style-type: none;
    }

    li {
      display: inline-block;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 28px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          display: inline-block;
          width: 12px !important;
          height: 12px !important;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 50px;
          background-color: transparent;
          border: 1px solid white;
        }
      }
    }

    li.slick-active {
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 28px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "";
          display: inline-block;
          width: 12px !important;
          height: 12px !important;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 50px;
          background-color: white;
        }
      }
    }
  }
}
