/* Archive Properties */

.thumbnail-footer {
  bottom: 3px;

  p {
    span {
      position: relative;
    }

    span.last {
      &::after {
        display: none;
      }
    }

    span::after {
      content: "";
      height: 0.8rem;
      width: 2px;
      position: absolute;
      right: -1.4rem;
      top: 0.2rem;
      background-color: #fff;

      @media (min-width: 1024px) {
        content: "";
        height: 1.3rem;
        width: 2px;
        position: absolute;
        right: -1.4rem;
        top: 0.4rem;
        background-color: #fff;
      }
    }
  }

  img {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 45px;
      height: 45px;
    }
  }
}

/* Single Property */

.single-gallery {
  .overlay {
    background: rgba(0, 0, 0, 0.8);
  }
}

.slick-slider {
  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: 0;
    z-index: 99999999999999;
  }

  .slick-next {
    position: absolute;
    right: 0;
    font-size: 0;

    &::after {
      content: "";
      width: 50px;
      height: 50px;
      background: url(../images/gallery-next.svg);
      background-repeat: no-repeat;
      top: -57px;
      right: 7px;
      position: absolute;

      @media (min-width: 1024px) {
        right: 64px;
      }
    }
  }

  .slick-prev {
    position: absolute;
    left: 0;
    font-size: 0;

    &::after {
      content: "";
      width: 50px;
      height: 50px;
      background: url(../images/gallery-prev.svg);
      background-repeat: no-repeat;
      top: -57px;
      left: 7px;
      position: absolute;

      @media (min-width: 1024px) {
        left: 64px;
      }
    }
  }

  .slick-track {
    img {
      width: auto;
      height: 300px;
      outline: none;

      @media (min-width: 640px) {
        width: auto;
        height: 450px;
      }

      @media (min-width: 768px) {
        width: auto;
        height: 550px;
      }

      @media (min-width: 1024px) {
        width: auto;
        height: 800px;
      }

      @media (min-width: 1280px) {
        width: auto;
        height: 100vh;
      }
    }

    img.slick-slide {
      opacity: 0.2;
    }

    img.slick-active {
      opacity: 1;
    }
  }
}

.acf-map {
  display: block;
  width: 100%;
  height: 32rem;
  border: none;
  margin: 0;

  @media (min-width: 1024px) {
    height: 100%;
  }
}
