/* Menu Modal */

.opacity-90 {
  opacity: 0.9;
}

/* Margins */

.mt-128 {
  margin-top: 32rem;
}

/* Outlines */

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

/* Carousel Bullets */

.slick-dots {
  li {
    margin: 0 2px;

    button {
      &::before {
        color: black !important;
        width: 20px !important;
        height: 20px !important;
        font-size: 12px !important;
      }
    }
  }

  li.slick-active {
    button {
      &::before {
        color: red !important;
        width: 20px !important;
        height: 20px !important;
        font-size: 12px !important;
      }
    }
  }
}

.siteModal {
  background-color: rgba(#3d3d3d, 0.9);

  .siteModalClose {
    position: fixed;
    right: 2rem;
    top: 2rem;
  }

  a {
    color: white;
  }

  ul {
    li {
      a {
        text-decoration: none;
      }
    }
  }
}

.teamModal {
  background-color: #f5f4ef;
}

