#nf-form-2-cont {
  .nf-before-form-content {
    display: none;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 0 2rem;
    margin-bottom: 0;
    background-color: transparent;
    font-size: 18px;

    @media (min-width: 1024px) {
      margin-bottom: 0.75rem;
      font-size: 22px;
    }

    &::placeholder {
      font-size: 18px;

      @media (min-width: 1024px) {
        font-size: 22px;
      }
    }
  }

  .submit-container {
    margin-bottom: 0;
  }

  input[type="button"] {
    border: 1px solid grey;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    padding: 0 1.5rem;
  }

  .firstname-container,
  .email-container,
  .preferred-date {
    padding: 0;

    @media (min-width: 1024px) {
      padding-right: 1.5rem;
    }
  }

  .lastname-container,
  .phone-container,
  .preferred-time {
    padding: 0;

    @media (min-width: 1024px) {
      padding-left: 1.5rem;
    }
  }
}
